.device-status-online{
    color: green;
    font-size: 12px;
    border: 2px solid green;
    padding: 10px;
    border-radius: 10px;
    margin-left: 20px;
}

.device-status-offline{
    color: red;
    font-size: 12px;
    border: 2px solid red;
    padding: 10px;
    border-radius: 10px;
    margin-left: 20px;
}

.device-card {
    margin-top: 20px;
    border: 1px solid #888888;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 3px 3px #e4e4e4;
    background: #dddddd;
}

.device-card:hover {
    background: #aaaaaa;
    border: 1px solid #444444;
}

.add-device-card {
    margin-top: 20px;
    border: 1px dashed #aaaaaa;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 3px 3px #e4e4e4;
    background: #ffffff;
    color: #aaaaaa;
    text-align: center;
}

.add-device-card:hover{
    background: #eeeeee;
}


.disable-select {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}


.chart-wrapper {
    height: 500px;
    width: 100%;
}