<div *ngIf="device">
        <div class="container mt-3">
            <div class="row">
                <div class="col">
                    <h3 style="display: inline;">{{device.nombre}}</h3>
                    <span [class]="device.online? 'device-status-online':'device-status-offline'">
                        &#11044;
                        {{device.online?
                        "online":"offline"}}
                    </span>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-6">
                    <div class="device-card">
                        <b >Tipo:</b> {{device.tipo}} <br>
                        <b>Empresa:</b> {{device.empresa}}<br>
                        <b>Temperatura:</b> {{device.ultimaTele.Temperatura}} <br>
                        <b>Humedad:</b> {{device.ultimaTele.Humedad}} <br>
                        <b>Timestamp:</b> {{device.ultimaTele.ts | timestamp}}
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="device-card">
                        <div>
                            <b>Canal 1:</b> 
                            <span [class]="device.canal1? 'channel-status-on':'channel-status-off'">&#11044;</span>
                            <button class="btn btn-outline-dark" (click)=updateChannel(1,true) *ngIf="device.canal1== false" expand="block"
                                color="danger"
                                [disabled]="!device.online">
                                Activar
                            </button>

                            <button class="btn btn-outline-dark" (click)=updateChannel(1,false) *ngIf="device.canal1  " expand="block"
                                color="primary"
                                [disabled]="!device.online">
                                Desactivar
                            </button>
                        </div>
                        <div class="mt-2">
                            <b>Canal 2:</b>
                            <span [class]="device.canal2? 'channel-status-on':'channel-status-off'">&#11044;</span>
                            <button class="btn btn-outline-dark" (click)=updateChannel(2,true) *ngIf="device.canal2== false" expand="block"
                                color="danger"
                                [disabled]="!device.online">
                                Activar
                            </button>

                            <button class="btn btn-outline-dark" (click)=updateChannel(2,false) *ngIf="device.canal2" expand="block"
                                color="primary"
                                [disabled]="!device.online">
                                Desactivar
                            </button>
                        </div>
                    </div>

                </div>
            </div>


            <div class="row mt-5">
                <div class="col-md-12">
                    <h3>Historial de mediciones</h3>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="device-card">
                        <form class="form-inline" #f="ngForm" (ngSubmit)="updateChart()">
                            <div class="form-group">
                                <div class="input-group">
                                    <label for="dpFrom">Desde: </label>
                                    <input class="form-control ml-2" placeholder="yyyy-mm-dd"
                                        name="dpFrom" [(ngModel)]="dpFrom" ngbDatepicker #dFrom="ngbDatepicker" [disabled]="today">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" (click)="dFrom.toggle()" type="button">
                                            <img src="../../../../assets/img/calendar.png" width="20px">
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group">
                                    <label for="dpTo" class="ml-2">Hasta: </label>
                                    <input class="form-control ml-2" placeholder="yyyy-mm-dd"
                                        name="dpTo" [(ngModel)]="dpTo" ngbDatepicker #dTo="ngbDatepicker" [disabled]="today">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" (click)="dTo.toggle()" type="button">
                                            <img src="../../../../assets/img/calendar.png" width="20px">
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="form-check form-check-inline ml-3">
                                    <input class="form-check-input" type="checkbox" id="today" [(ngModel)]="today" name="today">
                                    <label class="form-check-label" for="today">Hoy</label>
                                </div>
                            </div>

                            <button 
                                type="submit" 
                                class="btn btn-outline-dark ml-3" 
                                [disabled]="(!dpFrom || !dpTo) && !today">
                                Consultar
                            </button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-12">
                    <div class="chart-wrapper">
                        <canvas id="myChart" width="400" height="400"></canvas>
                    </div>
                </div>
            </div>
    </div>